*{
	padding:0;
	margin:0;
	border-radius:5px;
	overflow:hidden;
}


@font-face{
	font-family: Poppins;
	src: url(fonts/Poppins-Regular.ttf);
}

#body{
	animation-duration:500ms;
}

input{
	font-family: Poppins;
}

h1,h2{
	font-family: Poppins;
	color:white;
	//border-radius:0px;
	//background-color: rgba(0,0,0,.5);
	padding:5px;

	//box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

html{
	width:100%;
	height:100%;
	color:black;
	text-align:center;
	margin:auto;
	align-items:center;
	align-content: center;
	justify-content: center;
	border-radius:5px;
	background:none;
}

body{
	box-sizing: border-box;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column-reverse;
	border-radius:10px;
	//background-color:rgba(0,0,0,.7);
	//background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(42, 238, 245,1));
}

.section{
	cursor:pointer;
	//box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display:flex;
	margin:auto;
	width:100%;
	height:100%;
	border-radius:30px;
	justify-content:center;
	align-items:center;
}
.section:first-of-type{
	//background:rgba(250,250,250,.4);
	margin-top:15px;
	height:25%;
	margin-bottom:20px;
	background: linear-gradient(270deg, rgba(0,255,189,.5), rgba(133,14,13,.3), rgba(52, 47, 255,.6), rgba(251, 204, 86,.8));
  background-size: 800% 800%;
	--webkit-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
	--moz-animation: AnimationName 30s ease infinite;

}
#sectionA{
	margin-top:15px;
	height:75%;
	//position:relative;
	//left:0;
	//bottom:0;
	overflow-y:scroll;

}
.albumBackground>h1{
	border-radius:0px;
	background-color: rgba(0,0,0,.5);
	padding:5px;

}
.colorBackground{
	background: linear-gradient(270deg, rgba(0,255,189,.5), rgba(133,14,13,.3), rgba(52, 47, 255,.6), rgba(251, 204, 86,.8));
  background-size: 800% 800%;
	--webkit-animation: AnimationName 30s ease infinite, MoveUpDown 4s infinite ease-in-out;
	animation: AnimationName 30s ease infinite, MoveUpDown 4s infinite ease-in-out;
	--moz-animation: AnimationName 30s ease infinite, MoveUpDown 4s infinite ease-in-out;
}

.notification{
	height:20%;
	margin-top:15%;
}
.showingLyrics{
	justify-content: flex-start;
	align-items: flex-start;
}

.albumBackground{
	font-size: 10px;
	background-size: 100vw auto;
	height:100%;
	background-position: center;
	animation:none;
	--webkit-animation: MoveUpDown 4s infinite ease-in-out;
	animation: MoveUpDown 4s infinite ease-in-out;
	--moz-animation: MoveUpDown 4s infinite ease-in-out;

}



@-webkit-keyframes MoveUpDown {
  0%, 100% {
    transform: translate(0,0);

  }
  50% {
    transform: translate(0,-40px);
  }
}
@keyframes MoveUpDown {
	0%, 100% {
    transform: translate(0,0);

  }
  50% {
    transform: translate(0,-40px);
  }
}
@-moz-keyframes MoveUpDown {
	0%, 100% {
    transform: translate(0,0);

  }
  50% {
    transform: translate(0,-40px);
  }
}

@-webkit-keyframes AnimationName {
    0%{background-position:28% 0%}
    50%{background-position:73% 100%}
    100%{background-position:28% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:28% 0%}
    50%{background-position:73% 100%}
    100%{background-position:28% 0%}
}
@keyframes AnimationName {
    0%{background-position:28% 0%}
    50%{background-position:73% 100%}
    100%{background-position:28% 0%}
}




.roundWindow{
	border-radius:5px;
	width:100%;
}

.inputField{
	width:97%;
	height:97%;
	margin:auto;
	flex-direction: column;
	margin-bottom:auto;
	color:white;
	//background:rgba(250,250,250,.4);
	background:none;
	border-radius:5px;
	font-size:30px;
	outline:none;
	border:none;
	text-align:center;
}
.inputField:focus{
	outline:none;
}
