*{
	padding:0;
	margin:0;
	border-radius:5px;
	overflow:hidden;
}
@font-face{
	font-family: Poppins;
	src: url(fonts/Poppins-Regular.ttf);
}
h1,h2{
	padding:5px;
	font-family: Poppins;
	color:white;
}
html{
	width:100%;
	height:100%;
	text-align:center;
	margin:auto;
	align-items:center;
	align-content: center;
	justify-content: center;
	border-radius:5px;
	background:none;
}

body{
	box-sizing: border-box;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column-reverse;
	border-radius:10px;
	animation-duration:500ms;
}
.section{
	cursor:pointer;
	display:flex;
	margin:auto;
	width:90%;
	height:100%;
	border-radius:30px;
	justify-content:center;
	align-items:center;
	word-wrap: normal;
	overflow:hidden;
}
#miniPlayerControls{
	display:flex;
	flex-direction: row;
	width:100%;
	height:100%;
	justify-content: center;
	align-items: center;
	color:white;
	position:absolute;
	z-index:0;
	opacity: 0;
	transition-duration: 250ms;
}
#miniPlayerControls:hover{
	opacity: 1;
	background-color:rgba(0,0,0,0.5)
}
#miniPlayerControls>i{
	margin:auto;
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size:30px !important;
}
#textBox{
	background:rgba(0,0,0,.5);
	margin-top:15px;
	height:25%;
	margin-bottom:20px;
	--webkit-animation: BackgroundAnim 30s ease infinite;
	animation: BackgroundAnim 30s ease infinite;
	--moz-animation: BackgroundAnim 30s ease infinite;
	overflow: hidden;
	box-shadow: none !important;
  background-size: 800% 800%;
	box-shadow: 0 15px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	color:white;
}
video{
	width:125%;
	height:125%;
	position:absolute;
	z-index:-1;
}
#mainWindow{
	margin-top:15px;
	height:100%;
	box-shadow: 0 15px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.albumBackground>h1{
	border-radius:0px;
	background-color: rgba(0,0,0,.5);
	padding:5px;
}
.colorBackground{
	--webkit-animation: MoveUpDown 6s infinite ease-in-out;
	animation: MoveUpDown 6s infinite ease-in-out;
	--moz-animation: MoveUpDown 6s infinite ease-in-out;
	background-color:none;
}
.notification{
	height:20%;
	margin-top:15%;
}
.showingLyrics{
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y:scroll;
}
.albumBackground{
	font-size: 10px;
	background-size: 100vw auto;
	height:100%;
	background-position: center;
	animation:none;
	--webkit-animation: MoveUpDown 6s infinite ease-in-out;
	animation: MoveUpDown 6s infinite ease-in-out;
	--moz-animation: MoveUpDown 6s infinite ease-in-out;
}
#inputField{
	font-family: Poppins;
	width:97%;
	height:97%;
	margin:auto;
	flex-direction: column;
	margin-bottom:auto;
	color:white;
	background:none;
	border-radius:5px;
	font-size:30px;
	outline:none;
	border:none;
	text-align:center;
}
#inputField:focus{
	outline:none;
}
@-webkit-keyframes MoveUpDown {
  0%, 100% {
    transform: translate(0,0);

  }
  50% {
    transform: translate(0,-20px);
  }
}
@keyframes MoveUpDown {
	0%, 100% {
    transform: translate(0,0);

  }
  50% {
    transform: translate(0,-20px);
  }
}
@-moz-keyframes MoveUpDown {
	0%, 100% {
    transform: translate(0,0);

  }
  50% {
    transform: translate(0,-20px);
  }
}

@-webkit-keyframes BackgroundAnim {
    0%{background-position:28% 0%}
    50%{background-position:73% 100%}
    100%{background-position:28% 0%}
}
@-moz-keyframes BackgroundAnim {
    0%{background-position:28% 0%}
    50%{background-position:73% 100%}
    100%{background-position:28% 0%}
}
@keyframes BackgroundAnim {
    0%{background-position:28% 0%}
    50%{background-position:73% 100%}
    100%{background-position:28% 0%}
}
